<div  style="margin-top: 50px;" class="d-flex vertical-center-container-fluid justify-content-center" ng-controller="addFilmController">
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome del film</label>
        <input type="text" class="form-control" placeholder="Nome Film" ng-model="nome">
      </div>
    </div>
    <div class="form-group">
      <label >Descrizione: </label>
      <input type="text" class="form-control" placeholder="Descrizione" ng-model="descrizione">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Prezzo: </label>
        <input type="text" class="form-control" id="inputCity" ng-model = "prezzo">
      </div>
      <div class="form-group col-md-4">
        <label for="tipo" >Tipo: </label>
        <select class="form-control" ng-model = "tipo">
          <option selected>Commedia</option>
          <option>Avventura</option>
          <option>Biografico</option>
          <option>Documentario</option>
          <option>Fantascienza</option>
          <option>Romantico</option>
          <option>Horror</option>
          <option>Thiller</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Quantità</label>
        <input type="text" class="form-control" ng-model="quantita">
      </div>
    </div>
    


<div ng-class="class" role="alert" ng-show="showAlert || error">
  <button type="button" class="close"  ng-click="showAlert = false; error=false">&times;</button>
  {{messaggio}}
</div>

  <button type="submit" class="btn btn-primary" ng-click="salvaFilm(); restData()">Salva</button>
   

    
    
  </form>

</div>
