<div  style="margin-top: 50px;" class="d-flex vertical-center-container-fluid justify-content-center" ng-controller="filmController">
<form name="addFilm" required>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome del film</label>
        <input 
        type="text" name="nome" 
        class="form-control" 
        placeholder="Nome Film" 
        ng-maxlength="50"
        ng-model="nome" 
        ng-class="{'form-control is-invalid' : addFilm.nome.$error.maxlength   , 'form-control'  : addFilm.nome.$dirty }"
        required/>
        <span class="text-danger" ng-show="addFilm.nome.$dirty && addFilm.nome.$error.maxlength">Hai superato il limite massimo di caratteri!</span>
       
      </div>  
    </div>
    <div class="form-group">
      <label >Descrizione: </label>
      <input type="text" 
      name="descrizione"
      class="form-control" 
      placeholder="Descrizione" 
      ng-model="descrizione"
      ng-minlength="5" 
      ng-maxlength="50"
      ng-class="{'form-control is-invalid' : addFilm.descrizione.$error.minlength || addFilm.descrizione.$error.maxlength   , 'form-control'  : addFilm.descrizione.$dirty }"
      required/>
      <span class="text-danger" ng-show="addFilm.descrizione.$dirty && addFilm.descrizione.$error.minlength">Descrizione troppo corta</span>
      <span class="text-danger" ng-show="addFilm.descrizione.$dirty && addFilm.descrizione.$error.maxlength">Hai superato il limite massimo di caratteri!</span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Prezzo: </label>
        <input type="number"
        name="prezzo"
        min="0"
        placeholder="Prezzo" 
        ng-class="{'form-control is-invalid' : addFilm.prezzo.$error.number || addFilm.prezzo.$error.min   , 'form-control'  : addFilm.prezzo.$dirty }"
        class="form-control"  
        ng-model = "prezzo" 
        required/>
        <span class="text-danger" ng-show="addFilm.prezzo.$error.number">Non è un numero</span>
        <span class="text-danger" ng-show="addFilm.prezzo.$error.min">Inserire solo numeri positivi </span>
      </div>
      <div class="form-group col-md-4">
        <label for="tipo" >Tipo: </label>
        <select class="form-control" ng-model = "tipo"  placeholder="Tipo" >
          <option value="" disabled selected>Seleziona</option>
          <option selected>Commedia</option>
          <option>Avventura</option>
          <option>Biografico</option>
          <option>Documentario</option>
          <option>Fantascienza</option>
          <option>Romantico</option>
          <option>Horror</option>
          <option>Thiller</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Quantità</label>
        <input type="number" 
        class="form-control" 
        name="quantita"
        placeholder="Quantità" 
        min="0"
        ng-model="quantita"
        ng-class="{'form-control is-invalid' : addFilm.quantita.$error.number || addFilm.quantita.$error.min   , 'form-control'  : addFilm.quantita.$dirty }"
        required/>
        
        <span class="text-danger" ng-show="addFilm.quantita.$error.number">Non è un numero</span>
        <span class="text-danger" ng-show="addFilm.quantita.$error.min">Inserire solo numeri positivi </span>
      </div>
    </div>
    


<div ng-class="class" role="alert" ng-show="showAlert || error">
  <button type="button" class="close"  ng-click="showAlert = false; error=false">&times;</button>
  {{messaggio}}
</div>

  <button type="submit" 
  class="btn btn-primary" 
  ng-click="salvaFilm(); resetData()" data-ng-disabled="addFilm.$invalid">Salva</button>
  
   

    
    
  </form>

</div>
