    <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Film</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            

                <form name="modificaFilm" required>
                        <div class="form-row"  id="modificaNome">
                          <div class="form-group col-md-6">
                            <label>Nome del film</label>
                            <input
                            type="text" name="nome" 
                            ng-disabled="true"
                            ng-value="nomeFilmPrimaModifica"
                            class="form-control" 
                            placeholder="Nome Film" 
                            ng-maxlength="50"            
                            ng-model="$parent.modificaNome"  
                            ng-class="{'form-control is-invalid' : modificaFilm.nome.$error.maxlength   , 'form-control'  : modificaFilm.nome.$dirty}"
                            />
                            <span class="text-danger" ng-show="modificaFilm.nome.$dirty && modificaFilm.nome.$error.maxlength">Hai superato il limite massimo di caratteri!</span>
                           
                          </div>  
                        </div>
                        <div class="form-group">
                          <label >Descrizione: </label>
                          <input type="text" 
                          name="descrizione"
                          ng-value="descrizioneFilmPrimaModifica"
                          class="form-control" 
                          placeholder="Descrizione" 
                          ng-model="$parent.modificaDescrizione"
                          ng-minlength="5" 
                          ng-maxlength="50"
                          ng-class="{'form-control is-invalid' : modificaFilm.descrizione.$error.minlength || modificaFilm.descrizione.$error.maxlength   , 'form-control'  : modificaFilm.descrizione.$dirty }"
                          required/>
                          <span class="text-danger" ng-show="modificaFilm.descrizione.$dirty && modificaFilm.descrizione.$error.minlength">Descrizione troppo corta</span>
                          <span class="text-danger" ng-show="modificaFilm.descrizione.$dirty && modificaFilm.descrizione.$error.maxlength">Hai superato il limite massimo di caratteri!</span>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">Prezzo: </label>
                            <input type="number"
                            ng-value = "prezzoFilmPrimaModifica"
                            name="prezzo"
                            placeholder="Prezzo" 
                            min="0"
                            ng-class="{'form-control is-invalid' : modificaFilm.prezzo.$error.number || modificaFilm.prezzo.$error.min   , 'form-control'  : modificaFilm.prezzo.$dirty }"
                            class="form-control"  
                            ng-model = "$parent.modificaPrezzo" 
                            required/>
                            <span class="text-danger" ng-show="modificaFilm.prezzo.$error.number">Non è un numero</span>
                            <span class="text-danger" ng-show="modificaFilm.prezzo.$error.min">Inserire solo numeri positivi </span>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="tipo" >Tipo: </label>
                            <select class="form-control" 
                              ng-model = "$parent.modificaTipo">
                              <option  value="" selected disabled hidden>{{tipoFilmPrimaModifica}}</option>
                              <option>Commedia</option>
                              <option>Avventura</option>
                              <option>Biografico</option>
                              <option>Documentario</option>
                              <option>Fantascienza</option>
                              <option>Romantico</option>
                              <option>Horror</option>
                              <option>Thiller</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label>Quantità</label>
                            <input type="number" 
                            class="form-control" 
                            min="0"
                            ng-value="quantitaFilmPrimaModifica"
                            ng-model="$parent.modificaQuantita"
                            ng-class="{'form-control is-invalid' : modificaFilm.quantita.$error.number || modificaFilm.quantita.$error.min   , 'form-control'  : modificaFilm.quantita.$dirty }"
                            required/>
                            
                            <span class="text-danger" ng-show="modificaFilm.quantita.$error.number">Non è un numero</span>
                            <span class="text-danger" ng-show="modificaFilm.quantita.$error.min">Inserire solo numeri positivi </span>
                          </div>
                        </div>
                        
                    
                    
                    <div ng-class="class" role="alert" ng-show="showAlert || error">
                      <button type="button" class="close"  ng-click="showAlert = false; error=false">&times;</button>
                      {{messaggio}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Chiudi</button>
                        <button type="button" class="btn btn-primary" ng-click ="aggiornaFilm()"  data-dismiss="modal" data-ng-disabled="modificaFilm.$invalid">Modifica</button>
                    </div>  
                        
                </form>
            </div>
        </div>
    </div>
  </div>