.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.carousel-inner{
    margin-top: 30px;
    margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}